{% extends './Base.html' %}

{% block title %}Cursos{% endblock %}
{% block styles%}{% endblock %}


{% block cursos %}  
<div class="TablaDelinks">
<table>
    <tr>
        <th><p><a href="{{ url_for('data_page') }}"<i>I</i>_ Partida 1</a></p></th>
        <th><p><a href="{{ url_for('data_page') }}"<i>I</i>_ Partida 1</a></p></th>
        <th><p><a href="{{ url_for('data_page') }}"<i>I</i>_ Partida 1</a></p></th>
        <th><p><a href="{{ url_for('data_page') }}"<i>I</i>_ Partida 1</a></p></th>
    </tr>
</table>
</div> 
{% endblock %} 


          
         {% block SeccionAvisos %} 
         <p>Guia de cursado:</p> 
         {% endblock %} 