{% extends './Base.html' %}

{% block title %}Jugadada{% endblock %}
{% block styles%}{% endblock %}


{% block Bodyy %}  

<div class="TablaFachera">
    <h1><i style="color: #00a4d6c6;">Desarrollo de la Jugada</i></h1>
<table>
    <tr>
        <th>Número de Jugada </th>
        <th>Movimiento</th>
        <th>Rey Blanco</th>
        <th>Rey Negro</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ row['NumeroDeMovimiento'] }}</td>
            <td>{{ row['Movimiento'] }}</td>
            <td>{{ row['ReyBlanco'] }}</td>
            <td>{{ row['ReyNegro'] }}</td>
        </tr>

    {% endfor %} 
</table>
</div> 
         {% endblock %} 


          