{% extends './Base.html' %}

{% block title %}Inicio{% endblock %}
{% block styles%}{% endblock %}


{% block Bodyy %}  

<div class="TablaFachera">
    <h1><i style="color: #00A5D6;">Datos de la tabla EjemploUno</i></h1>
<table>
    <tr>
        <th>ID </th>
        <th>Gasto</th>
        <th>Presión</th>
        <th>Vibración</th>
    </tr>
    {% for row in data %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['gasto'] }}</td>
            <td>{{ row['presion'] }}</td>
            <td>{{ row['vibracion'] }}</td>
        </tr>

    {% endfor %} 
</table>
</div> 
         {% endblock %} 


          