{% extends './Base.html' %}

{% block title %}Inicio{% endblock %}
{% block styles%}{% endblock %}


{% block cursos %}  
           <div class="Cursos">
           
            <body>
              <div class="tarjeta">
                  <div class="tarjeta-inner">
                      <div class="tarjeta-front imagen-uno"></div>
                      <div class="tarjeta-back">
                          <p></p>
                      </div>
                  </div>
              </div>

              <div class="tarjeta">
                  <div class="tarjeta-inner">
                      <div class="tarjeta-front imagen-dos"></div>
                      <div class="tarjeta-back">
                          <p><a href="{{ url_for('data_page') }}"<i>I</i>_ Partida 1</a></p>
                      </div>
                  </div>
              </div>
              <div class="tarjeta">
                <div class="tarjeta-inner">
                    <div class="tarjeta-front imagen-tres"></div>
                    <div class="tarjeta-back">
                        <p>Descubre el patrón Modelo-Vista-Controlador (MVC). Aprende a estructurar tus aplicaciones web y mejora tu desarrollo😊</p>
                    </div>
                </div>
            </div>
          </body></div>
          
         {% endblock %} 


          